<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>e-Optimizer</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-navbar">
      <a class="navbar-brand" href="{{ url_for('index') }}">
	<img src="static/img/logo_white.png" width="30" height="30" class="d-inline-block align-top" alt="">
	&nbsp e-Optimizer
      </a>
    </nav>
    {% block body %}{% endblock %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-border"></div>
            <div class="column_footer_left">
	      <br/ >
		<br/ >Trabajo Fin de Grado<br/ ><br>
		    <b>Sistema Inteligente para<br/ >
			Gestión y Optimización de Energía<br/ ></b>
	    </div>
	    <div class="column_footer">
	      <br/ >
		<p>
		  <a href="https://github.com/pablopalomino96/TFG_PalominoGomez_Pablo.git"><img src="static/img/GitHub-Mark-Light-32px.png" alt=""></a>
		  <br>
		</p>
		<text font-family="Roboto"><b>@e-Optimizer 2019</b></text><br/ >
		  Pablo Palomino Gómez<br />
		  Pablo.Palomino1@alu.uclm.es
	    </div>
	    <div class="column_footer_right">
	      <p>
		<br>
		<a href="http://www.uclm.es"><img src="static/img/logoUCLM.png" alt=""></a>
		<br><br>
		<strong>Escuela Superior de Informática</strong><br />
		Paseo de la Universidad, 4<br />
		13071,
		Ciudad Real<br />
	      </p>
	    </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/eoptimizer.js') }}"></script>x
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
